@model SchoolApplication.Areas.Student.Models.UserChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_StudentHome")
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Change Password</legend>
            <div>@Html.LabelFor(u => u.CurrentPassword)</div>
            <div>@Html.PasswordFor(u => u.CurrentPassword)
                @Html.ValidationMessageFor(u => u.CurrentPassword)
            </div>

            <div>@Html.LabelFor(u => u.NewPassword)</div>
            <div>@Html.PasswordFor(u => u.NewPassword)
                @Html.ValidationMessageFor(u => u.NewPassword)
            </div>

            <div>@Html.LabelFor(u => u.ConfirmPassword)</div>
            <div>@Html.PasswordFor(u => u.ConfirmPassword)
                @Html.ValidationMessageFor(u => u.ConfirmPassword)
            </div>

            <input type="submit" value="Change Password" />
            <div style="color: green">@ViewBag.SuccessMessage</div>
        </fieldset>
    </div>
}
