@model SchoolApplication.Models.UserRegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


<script>
    $(document).ready(function () {
        //jQuery('#DOB').datetimepicker({
        //    timepicker: false,
        //    format: 'm/d/Y',
        //    closeOnDateSelect: true,
        //    defaultDate: new Date()
        //});
        $('#datetimepicker1').datetimepicker({
            format: 'MM/DD/YYYY'
        });

        $("#page-wrapper").css('margin', '0px');
    });
</script>

@using (Html.BeginForm())
{
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Student Registration @Html.ActionLink("Login", "LogIn", new { controller = "User" }, new { @class = "btn btn-success pull-right" })</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @* <div class="panel-heading">
                        Basic Form Elements
                    </div>*@
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                @Html.ValidationSummary(true, "Registration Failed", new { @class = "alert alert-danger" })

                                <div class="form-group">
                                    <label>Username</label>
                                    @Html.TextBoxFor(u => u.UserName, new { @placeholder = "Username", @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(x => x.UserName, null, new { @class = "alert-warning" })</p>
                                </div>
                                <div class="form-group">
                                    <label>Roll No</label>
                                    @Html.TextBoxFor(u => u.RollNo, new { @placeholder = "Roll No", @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(x => x.RollNo, null, new { @class = "alert-warning" })</p>
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.TextBoxFor(u => u.Name, new { @placeholder = "Name", @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(x => x.Name, null, new { @class = "alert-warning" })</p>
                                </div>
                                <div class="form-group">
                                    <label>Department</label>
                                    @Html.DropDownListFor(u => u.DepartmentId, Model.GetDepartments(), new { @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(x => x.DepartmentId, null, new { @class = "alert-warning" })</p>
                                </div>
                                <div class="form-group">

                                    <label>Date of birth</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.TextBoxFor(x => x.Dob, "{0:MM/dd/yyyy}", new { @id = "DOB", @class = "form-control", @placeholder = "Select DOB", @Value = @DateTime.Now.ToString("MM/dd/yyyy") })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <p class="help-block">@Html.ValidationMessageFor(x => x.Dob, null, new { @class = "alert-warning" })</p>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBoxFor(u => u.Email, new { placeholder = "Email", @autocomplete = "false", @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(x => x.Email, null, new { @class = "alert-warning" })</p>
                                </div>


                                <button onclick="waitingDialog.show('Please wait...');" type="submit" class="btn btn-primary pull-right">Register</button>
                                @if (ViewBag.SuccessMessage != null)
                                {
                                    <div class="alert alert-success col-sm-12">@ViewBag.SuccessMessage</div>
                                }
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    
        
}


